<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.mano.com GeForce</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GeForce100</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GeForce</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.GeForce</string>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOClass</key>
			<string>nvAccelerator</string>
			<key>IODVDBundleName</key>
			<string>GeForceVADriver</string>
			<key>IOGLBundleName</key>
			<string>GeForceGLDriver</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>NVArch</key>
					<string>GF100</string>
					<key>NVDAType</key>
					<string>Official</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOSourceVersion</key>
			<string>12.0.19</string>
			<key>IOVABundleName</key>
			<string>GeForceVADriver</string>
			<key>MetalPluginClassName</key>
			<string>NVMTLDevice</string>
			<key>MetalPluginName</key>
			<string>GeForceMTLDriver</string>
			<key>MetalStatisticsName</key>
			<string>GeForceStatistics</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © MaLd0n. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
