<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G8037</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VirtualSMC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.VirtualSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VirtualSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI_SMC_PlatformPlugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.ACPI_SMC_PlatformPlugin</string>
			<key>IOClass</key>
			<string>ACPI_SMC_PlatformPlugin</string>
			<key>IOPlatformThermalProfile</key>
			<dict>
				<key>ConfigArray</key>
				<array>
					<dict>
						<key>model</key>
						<string>MacBookPro10,1</string>
						<key>restart-actions</key>
						<dict>
							<key>cpu-p-state</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
				<key>ControlArray</key>
				<array>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_PLIMIT</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>10</integer>
						<key>location</key>
						<string>cpu plimit</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_STATE</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>13</integer>
						<key>location</key>
						<string>cpu state</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>IDLE_PLIMIT</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>15</integer>
						<key>location</key>
						<string>idle limit</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>GPU_RANGE_CONTROL_INTERNAL</string>
						<key>IOClass</key>
						<string>IOPlatformControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>16</integer>
						<key>location</key>
						<string>gpu-internal</string>
						<key>type</key>
						<string>gpu-control</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>GPU_RANGE_CONTROL_EXTERNAL</string>
						<key>IOClass</key>
						<string>IOPlatformControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>17</integer>
						<key>location</key>
						<string>gpu-external</string>
						<key>type</key>
						<string>gpu-control</string>
					</dict>
				</array>
				<key>CreationDate</key>
				<string>Thu Jun 11 16:43:38 PDT 2009</string>
				<key>CtrlLoopArray</key>
				<array>
					<dict>
						<key>Description</key>
						<string>SMC_CPU_Control_Loop</string>
						<key>IOClass</key>
						<string>ACPI_SMC_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>CPU</string>
						</array>
						<key>PLimitDict</key>
						<dict>
							<key>MacBookPro10,1</key>
							<integer>0</integer>
						</dict>
						<key>StepDataDict</key>
						<dict>
							<key>MacBookPro10,1</key>
							<string>SP10</string>
							<key>SP10</key>
							<data>
							HAoAAAAAAQIEAAACAgAA
							VQBuAHMAcABlAGMAaQBm
							AGkAZQBkDAAH/wcAAD4A
							AAAfBAAAAgCBAHAAcwB0
							AGEAdABlAHMKAAAGAwAA
							gABuAHAAcwB0AGEAdABl
							AHP/AP8A/wD/AP8A4gAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACw8AAP8BAAP/
							AAsPAAD/AQAD/wALDwAA
							/wEAA/8ACwoAAAEKAABk
							AAAABQgAAAEAAAX/AAEA
							AAABAAAAAQYAAGUAAAAO
							CAAAAgAABf8AAQAAAAIA
							AAACBgAAZAAAAAUAAAAB
							BgAAAwAABf8AAQAAAAMA
							AAADBgAAZQAAAA4EAAAB
							AgAABAAABf8AAQAAAAQA
							AAAEBgAAZAAAAAUAAAAE
							BgAABQAABf8AAQAAAAUA
							AAAFBgAAZAAAAAUAAAAD
							BgAABgAABf8AAQAAAAYA
							AAAGBgAAZAAAAAMAAAAB
							BgAABwAABf8AAQAAAAcA
							AAAHBgAAaAoAAAgAAAX/
							AAEAAAAIAAAACAYAAGkK
							AAAJAAAF/wABAAAACQAA
							AAkGAABkAAAAAwAAAAEG
							AAAKAAAF/wABAAAACgAA
							AAoGAABnCgAACwAABf8A
							AQAAAAsAAAALBgAAZQAA
							AA4EAAACAgAADAAABf8A
							AQAAAAwAAAAMBgAAZAAA
							AAUAAAACBgAADQAABf8A
							AQAAAA0AAAANBgAAZAAA
							AAMAAAABBgAADgAABf8A
							AQAAAA4AAAAOBgAAaQoA
							AA8AAAX/AAEAAAAPAAAA
							DwYAAGQAAAADAAAAAQYA
							ABAAAAX/AAEAAAAQAAAA
							EAYAAGcKAAARAAAF/wAB
							AAAAEQAAABEGAABlAAAA
							DgQAAAMCAAASAAAF/wAB
							AAAAEgAAABIGAABkAAAA
							BQAAAAQGAAATAAAF/wAB
							AAAAEwAAABMGAABkAAAA
							AwAAAAEGAAAUAAAF/wAB
							AAAAFAAAABQGAABpCgAA
							FQAABf8AAQAAABUAAAAV
							BgAAZAAAAAMAAAABBgAA
							FgAABf8AAQAAABYAAAAW
							BgAAZwoAABcAAAX/AAEA
							AAAXAAAAFwYAAGUAAAAO
							BAAABAIAABgAAAX/AAEA
							AAAYAAAAGAYAAGQAAAAF
							AAAAAQYAABkAAAX/AAEA
							AAAZAAAAGQYAAGQAAAAD
							AAAAAQYAABoAAAX/AAEA
							AAAaAAAAGgYAAGcKAAAb
							AAAF/wABAAAAGwAAABsG
							AABlAAAADgQAAAUCAAAc
							AAAF/wABAAAAHAAAABwG
							AAAPACcJAAAdAAAF/wAC
							AgAAHQYAAAEAAAAOBAAA
							BQIAAB4AAAX/AAIAAAAB
							AAAAHgYAAAIAAAAEAQAA
							gADDALcALgA0AAsAAAAf
							AAAAHgAAAB4AAAAfAAAA
							AwIAAB8GAAABAAAADgQA
							AAUCAAAgAAAF/wAEAgAA
							IAYAAAkAAAAEAAAAyAYA
							ACEAAAX/AAQAAAABAAAA
							IQQAAIAAAAAKCgAAJQAA
							ACIAAAAlAAAAIgAAAAQA
							AAACAAAAIgYAAAcAAAAB
							AAAA9QABBQAAIwAABf8A
							BAAAAAMAAAAjBgAAAgAA
							AAQAAACgAA8FAAAkAAAA
							HQAAAB0AAAAkAAAABAAA
							AAQAAAAkBgAACAoAACAA
							AAX/AAUCAAAlBgAAAQAA
							AA4EAAAEAgAAJgAABf8A
							BgIAACYGAAACAAAABAAA
							ANAABwUAACoAAAAnAAAA
							KgAAACcAAAAGAAAAAQAA
							ACcGAAAHAAAAAQAAAPUA
							AQUAACgAAAX/AAYAAAAC
							AAAAKAYAAAIAAAAEAAAA
							oAAPBQAAKQAAAB0AAAAd
							AAAAKQAAAAYAAAADAAAA
							KQYAAAgKAAAmAAAF/wAH
							AgAAKgYAAAEAAAAOBAAA
							AwIAACsAAAX/AAgCAAAr
							BgAAAgAAAAQAAACsAA0F
							AAAvAAAALAAAAC8AAAAs
							AAAACAAAAAEAAAAsBgAA
							BwAAAAEAAAD1AAEFAAAt
							AAAF/wAIAAAAAgAAAC0G
							AAACAAAABAAAAKAADwUA
							AC4AAAAdAAAAHQAAAC4A
							AAAIAAAAAwAAAC4GAAAI
							CgAAKwAABf8ACQIAAC8G
							AAABAAAADgQAAAICAAAw
							AAAF/wAKAgAAMAYAAAIA
							AAAEAAAArAANBQAANAAA
							ADEAAAA0AAAAMQAAAAoA
							AAABAAAAMQYAAAcAAAAB
							AAAA9QABBQAAMgAABf8A
							CgAAAAIAAAAyBgAAAgAA
							AAQAAACgAA8FAAAzAAAA
							HQAAAB0AAAAzAAAACgAA
							AAMAAAAzBgAACAoAADAA
							AAX/AAsCAAA0BgAAAQAA
							AA4EAAABAgAANQAABf8A
							DAIAADUGAAACAAAABAAA
							ANAABwUAADkAAAA2AAAA
							OQAAADYAAAAMAAAAAQAA
							ADYGAAAHAAAAAQAAAPUA
							AQUAADcAAAX/AAwAAAAC
							AAAANwYAAAIAAAAEAAAA
							oAAPBQAAOAAAAB0AAAAd
							AAAAOAAAAAwAAAADAAAA
							OAYAAAgKAAA1AAAF/wAN
							AgAAOQYAAAEAAAAOCAAA
							OgAABf8ADgIAADoGAAAC
							AAAABAEAAIAAwwC3AC4A
							NAALAAAAOgAAADsAAAA6
							AAAAOwAAAA4AAAABAAAA
							OwYAAAcAAAABAAAA9QAB
							BQAAPAAABf8ADgAAAAIA
							AAA8BgAAAgAAAAQAAACg
							AA8FAAA9AAAAHQAAAB0A
							AAA9AAAADgAAAAMAAAA9
							BgAACAoAADoAAAX/
							</data>
						</dict>
						<key>ctrlloop-id</key>
						<integer>0</integer>
						<key>is-state-driven</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>ControlIDArray</key>
						<array>
							<integer>16</integer>
							<integer>17</integer>
							<integer>18</integer>
						</array>
						<key>Description</key>
						<string>SMC_GPU_Range_Control_Loop</string>
						<key>GPUControlInfoDict</key>
						<dict>
							<key>CIA8</key>
							<array>
								<integer>15</integer>
								<integer>17</integer>
								<integer>16</integer>
							</array>
							<key>MacBookPro10,1</key>
							<string>CIA8</string>
						</dict>
						<key>IOClass</key>
						<string>ACPI_SMC_GPU_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>GPU</string>
						</array>
						<key>ctrlloop-id</key>
						<integer>3</integer>
					</dict>
				</array>
			</dict>
			<key>IOProbeScore</key>
			<integer>1200</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>MacBookPro10,1</key>
				<dict>
					<key>LogControl</key>
					<integer>0</integer>
					<key>Vendor10deDevice1050</key>
					<dict>
						<key>BoostPState</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
						<key>BoostTime</key>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>3</integer>
							<integer>3</integer>
						</array>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>100</integer>
							<key>P3HistoryLength</key>
							<integer>2</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>10</integer>
							<key>TargetCount</key>
							<integer>1</integer>
							<key>Threshold_High</key>
							<array>
								<integer>57</integer>
								<integer>70</integer>
								<integer>80</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_High_v</key>
							<array>
								<integer>1</integer>
								<integer>3</integer>
								<integer>98</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>68</integer>
								<integer>75</integer>
								<integer>95</integer>
							</array>
							<key>Threshold_Low_v</key>
							<array>
								<integer>0</integer>
								<integer>2</integer>
								<integer>4</integer>
								<integer>99</integer>
							</array>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>as.vit9696.VirtualSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.VirtualSMC</string>
			<key>IOClass</key>
			<string>VirtualSMC</string>
			<key>IODeviceMemory</key>
			<array>
				<array>
					<dict>
						<key>address</key>
						<integer>768</integer>
						<key>length</key>
						<integer>32</integer>
					</dict>
				</array>
				<array>
					<dict>
						<key>address</key>
						<integer>4277141504</integer>
						<key>length</key>
						<integer>65536</integer>
					</dict>
				</array>
			</array>
			<key>IOInterruptControllers</key>
			<array>
				<string>io-apic-0</string>
			</array>
			<key>IOInterruptSpecifiers</key>
			<array>
				<data>
				BgAAAAAAAAA=
				</data>
			</array>
			<key>IOMatchCategory</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOName</key>
			<string>SMC</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>Keystore</key>
			<dict>
				<key>Generic</key>
				<array>
					<dict>
						<key>attr</key>
						<data>
						iA==
						</data>
						<key>comment</key>
						<string>Total fan number, this should be put to a plugin</string>
						<key>name</key>
						<data>
						Rk51bQ==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>CPU plimit</string>
						<key>name</key>
						<data>
						TVNUYw==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>FAN plimit (supposedly)</string>
						<key>name</key>
						<data>
						TVNUZg==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>Memory plimit</string>
						<key>name</key>
						<data>
						TVNUbQ==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>This should be 1 on laptops, and is overriden by sensors</string>
						<key>name</key>
						<data>
						QkFUUA==
						</data>
						<key>type</key>
						<data>
						ZmxhZw==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>Only MacPros have custom illumination controllers</string>
						<key>name</key>
						<data>
						THNOTQ==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
				</array>
				<key>GenericDesktopV1</key>
				<array/>
				<key>GenericDesktopV2</key>
				<array/>
				<key>GenericLaptopV1</key>
				<array/>
				<key>GenericLaptopV2</key>
				<array/>
				<key>GenericV1</key>
				<array>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>GPU plimit</string>
						<key>name</key>
						<data>
						TVNUZw==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
				</array>
				<key>GenericV2</key>
				<array>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>E plimit (???)</string>
						<key>name</key>
						<data>
						TVNUZQ==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>I plimit (???)</string>
						<key>name</key>
						<data>
						TVNUaQ==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>attr</key>
						<data>
						gA==
						</data>
						<key>comment</key>
						<string>J plimit (???)</string>
						<key>name</key>
						<data>
						TVNUag==
						</data>
						<key>type</key>
						<data>
						dWk4IA==
						</data>
						<key>value</key>
						<data>
						AA==
						</data>
					</dict>
				</array>
			</dict>
			<key>ModelInfo</key>
			<dict>
				<key>GenericV1</key>
				<dict>
					<key>branch</key>
					<data>
					ajUyAAAAAAA=
					</data>
					<key>hwname</key>
					<data>
					c21jLXBpa2V0b24A
					</data>
					<key>platform</key>
					<data>
					ajUyAAAAAAA=
					</data>
					<key>rev</key>
					<data>
					AXQPAAAE
					</data>
					<key>revfb</key>
					<data>
					AXQPAAAE
					</data>
					<key>revfu</key>
					<data>
					AXQPAAAE
					</data>
				</dict>
				<key>GenericV2</key>
				<dict>
					<key>branch</key>
					<data>
					ajUyAAAAAAA=
					</data>
					<key>hwname</key>
					<data>
					c21jLWh1cm9ucml2ZXIA
					</data>
					<key>platform</key>
					<data>
					ajUyAAAAAAA=
					</data>
					<key>rev</key>
					<data>
					AigPAAAH
					</data>
					<key>revfb</key>
					<data>
					AigPAAAH
					</data>
					<key>revfu</key>
					<data>
					AigPAAAH
					</data>
				</dict>
				<key>GenericV3</key>
				<dict>
					<key>hwname</key>
					<data>
					c21jLWh1cm9ucml2ZXIA
					</data>
					<key>platform</key>
					<data>
					ajUyAAAAAAA=
					</data>
				</dict>
			</dict>
			<key>_STA</key>
			<integer>11</integer>
			<key>name</key>
			<data>
			QVBQMDAwMQA=
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
