<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G8023</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone Laptop patch ALC269 Asus N53J</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AYccIAGHHRABhx6BAYcfBAGXHBABlx0BAZce
					oAGXH5kBtxxAAbcdAQG3HhMBtx+ZAhccUAIX
					HRACFx4hAhcfBAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v1</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccQAFHHQEBRx4TAUcfmQGHHCABhx0QAYce
					gQGHHwMBlxwQAZcdAQGXHqABlx+ZAhccUAIX
					HRACFx4hAhcfAwFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Mirone - Realtek ALC269 for Asus K53SJ, Asus G73s</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					EwFHH5ABdxxQAXcdAQF3HhMBdx+QAYccIAGH
					HZABhx6BAYcfAwGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4hAhcfAwFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHCABhx2QAYce
					gQGHHwIBtxwwAbcdEAG3HqABtx+QAhccQAIX
					HRACFx4hAhcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v3</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ABhxwwAYcdEAGHHoEBhx8AAhccUAIX
					HRACFx4hAhcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
